h1{
    color:white;
    background-color: black;
    text-align:center;
}
h4{
    color:orangered;
}
.images{
    display: flex;
    width: 50%;
    height: 300px;
    justify-content: space-around;
    border: 3px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 15px gray;
}
