h1{
    color:white;
    background-color: black;
    text-align:center;
}
h4{
    color:orangered;
}
.images{
    display: flex;
    width: 50%;
    height: 300px;
    justify-content: space-evenly;
}